/**
 * folder /content
 *
 * @author Andrey Chechkin
 * @author Viacheslav Lotsmanov
 */

@import "../go_to_list_mixins";
@import "../subtitle_mixins";

body section.content .page_content {
	ul.content_list {
		// reset
		margin: 0;
		padding: 0;
		.fontMetrics(0, 0);

		margin-top: 75px;
		color: #202f3c;

		&>li {
			margin: 0; padding: 0; background: none; // reset

			display: inline-block;
			vertical-align: top;
			width: 45%;
			padding-right: 9%;
			padding-bottom: 28px;

			&:nth-child(even) { padding-right: 0; }

			.title {
				color: #6e7e8c;
				font-family: Days, sans-serif;
				.fontMetrics(20px, 22px);
				text-transform: uppercase;
			}

			.preview_text {
				margin-top: 17px;
				.fontMetrics(15px, 22px);
			}
		}//&>li
	}//ul.content_list

	.content_detail {
		// reset
		margin: 0;
		padding: 0;
		.fontMetrics(0, 0);
		padding-top: 72-36px;

		display: block;

		.title { .subtitleBlock(); }

		.detail_picture {
			display: block;
			margin: 25px 0;
			padding: 0;
		}

		.preview_text, .detail_text {
			display: block;
			.fontMetrics(15px, 22px);
		}

		.back_to_the_future {
			.bottomBackToTheFuture();

			&:before {
				.pseudoBlock;
				height: 47px;
				clear: both;
			}
		}
	}//.content_detail
}//body section.content .page_content
