/**
 * "Contacts" page styles
 *
 * @author Viacheslav Lotsmanov
 * @author Andrey Chechkin
 */

@import "../form";

body section.content .page_content .contacts {
	display: block;
	.relative;

	.info {
		display: block;
		.relative;
		margin-bottom: 20px;
		margin-top: 53-39px;

		address {
			display: block;
		}

		.call_me_later {
			display: block;

			.call_me_button {
				.button(0 24px 0 54px);
				.button-icon(11px, auto, auto, 15px);
				&:before { .ico-contacts-phone-button; }
				&:after { .ico-contacts-phone-button-active; }
				.absolute(50%, 0);
				margin-top: -20px;
			}

			form {
				.formMixin();
				.fields {
					dl dd {
						// TODO remove and replace to jquery.formstyler
						.call_subjects {
							.fontMetrics(0, 0);

							.show_list {
								.arrowMixin();
								.absolute(1px, 1px);
							}

							ul { .selectUlMixin(); }
						}
					}
				} // .fields
			}
		}
	}

	form.order_services { .formMixin(); }

	.interactive_map {
		@height: @minAutoSizeBlockHeight; // minimal
		min-height: @height;
		height: @height;
		.relative;
		background: @plugColor;

		.styles () {
			content: '';
			.sprite-ico;
			display: block;
			.absolute;
			z-index: 500;
		}

		&:before { .styles; .ico-white-corner-left-top; left: 0; top: 0; }
		&:after { .styles; .ico-white-corner-right-top; right: 0; top: 0; }

		& > ymaps {
			&:before { .styles; .ico-white-corner-left-bottom; left: 0; bottom: 0; }
			&:after { .styles; .ico-white-corner-right-bottom; right: 0; bottom: 0; }
		}
	}
}
