.interactive_map {
    display: block;
    background: silver;
    border: 1px solid gray;
    position: relative;
    width: 400px;
    height: 300px;
}

.interactive_map:before {
    display: block;
    content: 'Интерактивная карта';
    position: absolute;
    width: 400px;
    height: 300px;
    text-align: center;
    line-height: 300px;
}

.non_break { white-space: nowrap; }
